NODE_ENV=development
PORT=4100
DATABASE_URL=postgres://medlink:medlink@localhost:5445/medlink_mobile
DB_SSL=false
DB_SYNC=true
JWT_ACCESS_SECRET=replace-with-access-secret
JWT_REFRESH_SECRET=replace-with-refresh-secret
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
MNOTIFY_API_KEY=ppgVYPAY10ixb9srYfaDAYrxp
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
OPENAI_API_KEY=your_openai_api_key_here
APP_URL=http://localhost:4100
DESKTOP_DATABASE_URL=postgres://hc:hcpassword@localhost:5434/healthconnect_desktop

