<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MedLink</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>medlink_mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>MedLink needs microphone access so our AI assistant can listen to your symptoms and guide you to the right doctor.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MedLink uses speech recognition to transcribe Twi or English and provide smarter care recommendations.</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>GMSApiKey</key>
	<string>AIzaSyAYHgFxV9FDXQBW0m8ucW28FrJef49RYxU</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MedLink needs your location to show nearby pharmacies, hospitals, and healthcare facilities on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>MedLink needs your location to provide accurate healthcare facility recommendations and directions.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MedLink needs your location to show nearby healthcare facilities and provide accurate recommendations.</string>
</dict>
</plist>
